<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <a href="{% url 'leads:create' %}">Create a Lead</a>
    {% for lead in leads %}
    <ul>
        <li><a href="{% url 'leads:detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}</a> {{ lead.age }} {{ lead.agent }}</li>
    </ul>
    {% endfor %}
</body>
</html>