{% extends "leads/base.html" %} {% block content %}
<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Updating Lead: {{ lead.first_name}} {{ lead.last_name}}
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        This lead is assignd to: {{ lead.agent }}
      </p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <form method="POST">
          {% csrf_token %} {{form.as_p}}
          <div class="p-2 w-full">
            <button
              type="submit"
              class="flex-shrink-0 text-white bg-pink-500 border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg mt-10 sm:mt-0"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
